apessentials/src/main/app/apessentials.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" basePath="/ape" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" host="localhost" port="8081" basePath="/ape" doc:name="HTTP Request Configuration"/>
    <flow name="flow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/flow1" doc:name="HTTP"/>
        <set-payload value="#[&quot;flow1 executed&quot;]" doc:name="Set Payload"/>
        <set-variable variableName="flow1 variable" value="#[&quot;flow1 flowvar&quot;]" doc:name="Variable"/>
        <set-session-variable variableName="flow1 session variable" value="#[&quot;Flow1 Session Variable&quot;]" doc:name="Session Variable"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <copy-properties propertyName="http.query.params" doc:name="Property"/>
        <vm:outbound-endpoint exchange-pattern="request-response" path="myq" doc:name="VM"/>
        <logger message="Flow completed" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="flow2">
        <vm:inbound-endpoint exchange-pattern="request-response" path="myq" doc:name="VM"/>
        <set-variable variableName="flow2 variable" value="#[&quot;Flow2 Flowvar&quot;]" doc:name="Variable"/>
        <set-session-variable variableName="flow2 session variable" value="#[&quot;Flow2 Session Variable&quot;]" doc:name="Session Variable"/>
        <set-payload value="#[&quot;flow2 executed&quot;]" doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
