performance-tuning/target/classes/performance-tuning.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <asynchronous-processing-strategy name="Asynchronous_Processing_Strategy" maxThreads="180" minThreads="10" threadTTL="2000" maxBufferSize="10" doc:name="Asynchronous Processing Strategy"/>
    <flow name="performance-tuningFlow">
        <file:inbound-endpoint path="D:\mule\LabSetup 3.8\input" moveToDirectory="D:\mule\LabSetup 3.8\output" responseTimeout="10000" doc:name="File"/>
        <set-session-variable variableName="startTime" value="#[server.nanoTime()]" doc:name="starttime"/>
        <file:file-to-string-transformer doc:name="File to String"/>
        <expression-component doc:name="Expression"><![CDATA[String[] data = payload.split("\n");
payload=java.util.Arrays.asList(data);]]></expression-component>
        <vm:outbound-endpoint exchange-pattern="one-way" path="splitterq" doc:name="VM splitterq"/>
    </flow>
    <flow name="performance-tuningFlow2">
        <vm:inbound-endpoint exchange-pattern="one-way" path="splitterq" doc:name="VM splitterq"/>
        <collection-splitter doc:name="Collection Splitter"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="myq" doc:name="VM"/>
    </flow>
    <flow name="performance-tuningFlow1" processingStrategy="Asynchronous_Processing_Strategy">
        <vm:inbound-endpoint exchange-pattern="one-way" path="myq" doc:name="VM"/>
        <component class="com.boa.EnricherAuctionComponent" doc:name="EnricherAuctionComponent"/>
        <collection-aggregator failOnTimeout="true" doc:name="Collection Aggregator"/>
        <component class="com.boa.HighestBidderAuctionComponent" doc:name="HighestBidderAuctionComponent"/>
        <set-session-variable variableName="endTime" value="#[server.nanoTime()]" doc:name="endTime"/>
        <logger message="#[(sessionVars.endTime  - sessionVars.startTime)/1000000000] secs" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
